/* 公共变量 */
html {
  font-size: 100px;
  height: 100%;
}
body {
  height: 100%;
  padding: 0.45rem 0rem;
}
/* 样式重置 */
* {
  margin: 0rem;
  padding: 0rem;
  /*在移动端设置盒模型border-box 为了防止元素加边框或者padding出现水平滚动条*/
  box-sizing: border-box;
  /* 去除移动端按住元素的时候会出现高亮背景色 */
  -webkit-tap-highlight-color: transparent;
  /* 去掉所有移动端内边框 */
  outline: none;
}
a {
  color: #666;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  border: 0;
}
img {
  /* 解决图片底部0.03rem的间隙 为了让图片的对齐方式和文本一致*/
  vertical-align: middle;
}
i {
  font-style: normal;
}
/* 公共样式 */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* 头部样式 */
#header {
  position: fixed;
  padding: 0rem 0.45rem;
  width: 100%;
  height: 0.45rem;
  top: 0rem;
  left: 0rem;
  background-color: #006699;
  z-index: 999;
}
#header > h4 {
  text-align: center;
  margin: 0rem;
  line-height: 0.45rem;
  color: #fff;
  font-weight: normal;
}
#header .fa {
  display: block;
  width: 0.45rem;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  position: absolute;
  top: 0;
  color: #fff;
}
#header .fa-arrow-left {
  left: 0;
}
#header .fa-search,
#header .fa-refresh,
#header .fa-home {
  right: 0;
}
#header form {
  margin-top: 0.06rem;
  height: 0.4rem;
}
#header form input {
  background-color: #fff;
  height: 0.35rem;
  font-size: 0.12rem;
  text-align: left;
}
/* 底部样式 */
#footer {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  height: 0.45rem;
  width: 100%;
  background-color: #006699;
  z-index: 999;
}
#footer .mui-col-xs-3 {
  text-align: center;
  padding: 0.06rem 0rem;
}
#footer .mui-col-xs-3 a {
  color: #fff;
}
#footer .mui-col-xs-3 a.active {
  color: orange;
}
#footer .mui-col-xs-3 a i {
  display: block;
}
#footer .mui-col-xs-3 a span {
  font-size: 0.12rem;
}
/* 加载样式 */
#preloader_4 {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 100%;
  z-index: 998;
  background-color: #efeff4;
}
#preloader_4 div {
  position: absolute;
  left: 35%;
  top: 45%;
}
#preloader_4 span {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: #3498db;
  opacity: 0.5;
  border-radius: 0.2rem;
  -webkit-animation: preloader_4 1s infinite ease-in-out;
  -moz-animation: preloader_4 1s infinite ease-in-out;
  -ms-animation: preloader_4 1s infinite ease-in-out;
  -animation: preloader_4 1s infinite ease-in-out;
}
#preloader_4 span:nth-child(2) {
  left: 0.2rem;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#preloader_4 span:nth-child(3) {
  left: 0.4rem;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#preloader_4 span:nth-child(4) {
  left: 0.6rem;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#preloader_4 span:nth-child(5) {
  left: 0.8rem;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
@-webkit-keyframes preloader_4 {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-0.1rem);
    background: #f1c40f;
    box-shadow: 0rem 0.2rem 0.03rem rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
}
@-moz-keyframes preloader_4 {
  0% {
    opacity: 0.3;
    -moz-transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    -moz-transform: translateY(-0.1rem);
    background: #f1c40f;
    box-shadow: 0rem 0.2rem 0.03rem rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    -moz-transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
}
@-ms-keyframes preloader_4 {
  0% {
    opacity: 0.3;
    -ms-transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    -ms-transform: translateY(-0.1rem);
    background: #f1c40f;
    box-shadow: 0rem 0.2rem 0.03rem rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    -ms-transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
}
@keyframes preloader_4 {
  0% {
    opacity: 0.3;
    transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    transform: translateY(-0.1rem);
    background: #f1c40f;
    box-shadow: 0rem 0.2rem 0.03rem rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0rem);
    box-shadow: 0rem 0rem 0.03rem rgba(0, 0, 0, 0.1);
  }
}
#main {
  background-color: #fff;
  position: relative;
  height: 100%;
}
#main .search-form {
  padding: 0.1rem;
}
#main .search-form input {
  background-color: #fff;
  height: 0.3rem;
  border: 1px solid #006699;
  font-size: 0.12rem;
  text-align: left;
  margin-bottom: 0;
  border-radius: 0.05rem;
}
#main .search-form button {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  height: 0.3rem;
  color: #fff;
  background-color: #006699;
  border: 1px solid #006699;
  border-radius: 0.05rem;
}
#main .search-history {
  padding: 0 0.1rem;
}
#main .search-history .title {
  line-height: 0.3rem;
  font-size: 0.14rem;
}
#main .search-history .title a {
  display: block;
  line-height: 0.3rem;
}
#main .search-history .content ul {
  border: 1px solid #ccc;
  border-radius: 0.05rem;
}
#main .search-history .content ul li {
  padding-left: 0.1rem;
  position: relative;
}
#main .search-history .content ul li + li {
  border-top: 0.01rem solid #ccc;
}
#main .search-history .content ul li a {
  display: block;
  font-size: 0.14rem;
  line-height: 0.4rem;
}
#main .search-history .content ul li i {
  position: absolute;
  right: 0.1rem;
  top: 0.12rem;
}
